apispec==6.6.1
blinker==1.8.2
cachelib==0.9.0
click==8.1.7
Deprecated==1.2.14
exceptiongroup==1.2.2
Flask==3.0.3
Flask-Caching==2.3.0
Flask-Cors==5.0.0
Flask-HTTPAuth==4.8.0
Flask-Limiter==3.8.0
flask-smorest==0.44.0
gunicorn==23.0.0
importlib_metadata==8.5.0
importlib_resources==6.4.5
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
limits==3.13.0
markdown-it-py==3.0.0
MarkupSafe==3.0.1
marshmallow==3.22.0
mdurl==0.1.2
ordered-set==4.1.0
packaging==24.1
pluggy==1.5.0
Pygments==2.18.0
PyJWT==2.9.0
pytest==8.3.3
python-dotenv==1.0.1
rich==13.9.2
tomli==2.0.2
typing_extensions==4.12.2
webargs==8.6.0
Werkzeug==3.0.4
wrapt==1.16.0
zipp==3.20.2
